.tabs button {
	width: 200px;
	height: 40px;
	background-color: #1E1E1E;
	color: white;
	border: none;
	border-radius: 5px 5px 0 0;
	margin-right: 10px;
}
.tabs button:hover {
	cursor: pointer;
}

.tabs button.active {
	/* background-color: #1e1e1e; */
	background-color: #bb86fc;
	color: white;
}

.items-page-container {
	margin: 0 80px 0 200px;
	height: 100%;
}
/* 
.items-table {
	color: white;
	background-color: #1e1e1e;
	border-radius: 0px 20px 20px 20px;
	padding: 20px;
	border-collapse: collapse;
	width: 100%;
	border-spacing: 5px;
}

.items-table tbody tr {
	border-radius: 20px;
}

.items-table tbody tr:hover {
	background-color: #efefef;
}


.items-table td {
	padding: 20px 0 20px 0;
}

#items-heading-row {
	background-color: #0f0f0f;
}

#items-heading-row th {
	padding: 20px 0 20px 0;
}

tr {
	text-align: center;
	font-weight: 300;
} */

/* .last-row > #item-dots {
	border-radius: 0 0 20px 0;
}

.last-row > #item-name {
	border-radius: 0 0 0 20px;
} */

table {
	width: 100%;
	table-layout: fixed;
}

th {
	background-color: #bb86fc;
	padding: 20px 30px;
	text-align: left;
	font-weight: 500;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

#last-heading {
	border-radius: 0 10px 0 0;
}

#last-heading button {
	/* float:right; */
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	/* border: 1px solid white; */
	border: none;
	color: #bb86fc;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	outline: none;
	transition: all 0.3s ease;
}

#last-heading button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

tbody {
	border-radius: 0 0 10px 10px;
}

td {
	padding: 20px 30px;
	text-align: left;
	vertical-align: middle;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	border-bottom: solid 5px #0f0f0f;
	/* border-bottom: solid 1px rgba(255, 255, 255, 0.1); */
	/* border-bottom: solid 5px #0F0F0F; */
}

tr {
	border-radius: 10px;
}

.table-content {
	height: 520px;
	overflow-x: auto;
	margin-top: 0px;
	border-radius: 0 0 10px 10px;

	/* border: 1px solid rgba(255, 255, 255, 0.3); */
	/* border-radius: 5px; */
}
table {
	border-collapse: collapse;
	background-color: #1e1e1e;
}

/* CSS */
.item-edit-dropdown-container {
	position: relative;
}

.item-edit-dropdown {
	position: absolute;
	border-radius: 5px;
	top: 5px;
	left: 0;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 150px;
	height: 80px;
}

.item-edit-dropdown > button {
	width: 100%;
	border: none;
	height: 50%;
	outline: none;
	background-color: white;
	color: black;
	display: flex;
	justify-content: flex-start;
	padding: 0 20px 0 20px;
	align-items: center;
	gap: 10px;
}

.delete-item-option {
	border-radius: 0 0 5px 5px;
}

.edit-item-option {
	border-radius: 5px 5px 0 0;
}

.item-edit-dropdown > button:hover {
	background-color: #f0f0f0;
	color: black;
	cursor: pointer;
}

#item-dots > span {
	padding: 2px;
	border-radius: 5px;
	/* background-color: #1e1e1e; */
	transition: all 0.3s ease;
}

.item-edit-dropdown > button span {
	color: black;

}

.item-edit-dropdown > button {
	/* font-weight: 500; */
}

#edit-dd-active,
#item-dots > span:hover {
	background-color: #bb86fc;
	cursor: pointer;
}
