.tabs button {
	width: 200px;
	height: 40px;
	background-color: grey;
	border: none;
	border-radius: 10px 10px 0 0;
	margin-right: 10px;
}
.tabs button:hover {
	cursor: pointer;
}

.tabs button.active {
	background-color: white;
}

.items-page-container {
	margin: 0 80px 0 200px;
	height: 100%;
}

.items-table {
	color: black;
	background-color: white;
	border-radius: 0px 20px 20px 20px;
	padding: 20px;
	border-collapse: collapse;
	width: 100%;
}

.items-table tbody tr {
	border-radius: 20px;
}

.items-table tbody tr:hover {
	background-color: #efefef;
}

/*734EB4*/

.items-table td {
	padding: 20px 0 20px 0;
}

#items-heading-row th {
	border-bottom: 1px solid black;
	padding: 20px 0 20px 0;
}

tr {
	text-align: center;
	font-weight: 300;
}

#item-category {
	text-align: center;
}

.last-row > #item-dots{
	border-radius: 0 0 20px 0;
}

.last-row > #item-name {
	border-radius: 0 0 0 20px;
}
