.inventory-page-container {
	margin: 0 80px 0 200px;
	height: 100%;
	width: 100%;
	/* background-color: white; */
}

body {
	overflow-x: hidden;
}

.inventories {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.inventory {
	width: 80%;
	height: 300px;
	background-color: #1e1e1e;
	/* background-color: white; */
	color: #e1e1e1;
	border-radius: 20px;
	padding: 30px;
	font-size: 20px;
}

.inventory-row {
	display: flex;
	gap: 10px;
	text-align: left;
}

#inventoryRow1 {
	color: #969696;
}

#inventoryRow2 {
	color: #5c5b5b;
}

#inventoryRow3 {
	color: #313131;
}

.inventory-left-align {
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.inventory-content {
	/* margin-top: 20px; */

	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 100%;
}

.inventory-item-quantity {
	font-weight: 500;
}

.inventory-item-name {
	font-weight: 300;
}

.inventory-date {
	font-size: 35px;
	font-weight: 500;
	/* background-color: #734EB4; */
	/* color: black; */
	color: #e1e1e1;
	border-radius: 10px;
}

.last-updated {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
}

.inventory-content {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.inventory-right,
.inventory-left {
	width: 50%;
}

.inventory-left {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.inventory-low-stock-heading {
	font-weight: 500;
	font-size: 60px;
	/* margin-bottom: 20px; */
	/* color: #F0434B; */
}

.inventory-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	/* background-color: blue; */
}

.inventory-low-stock-container {
	/* background-color: #734EB4; */
	/* background-color: #0f0f0f; */
	/* background-color: #734eb4; */
	background-color: #c38fff;
	/* background-color: #EE4078; */
	/* background-color: #F0434B; */
	color: white;
	border-radius: 50%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	/* width: 100%; */
	width: 200px;
	height: 200px;
	margin-left: 20%;
	padding: 30px;
	/* min-height: 40px; */
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.inventory-low-stock-content {
	/* color: #F0434B; */
	font-weight: 300;
	font-size: 18px;
	text-align: left;
}

.inventory-buttons {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	height: 100%;
	width: 25%;
}

.deleteIsButton {
	/* border: 1px solid #F44336; */
	border: 1px solid #DC143C;
	color: #DC143C;
	background-color: #1e1e1e;
	/* color: #F44336; */
	border-radius: 10px;
	width: 50px;
	height: 50px;
	transition: 0.3s;

	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#goToIsButton,
.editIsButton {
	background-color: #1e1e1e;
	color: #c38fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #c38fff;
	transition: 0.3s;
}



.deleteIsButton:hover {
	transform: scale(1.1);
	cursor: pointer;
	background-color: #DC143C;
	color: white;
}

#goToIsButton:hover,
.editIsButton:hover {
	transform: scale(1.1);
	cursor: pointer;
	background-color: #c38fff;
	color: white;
}
